
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Password Reset </h1>
    <p>
    You requested to change your password <%= @user.name %>,<br> We got you <br>
    kindly follow this link to reset your password: localhost:3000/<%= @user.password_reset_token %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
